body {
  background-color: rgb(230, 230, 230);
}
p {
  text-align: center;
}
#name {
  font-weight: 1000;
  font-size: xx-large;
  margin-top: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#text {
  text-align: center;
}
#main {
  width: 1300px;
  height: 680px;
  background-color: white;
  margin-left: 15px;
  text-align: center;
}
#desc {
  margin-left: 400px;
  margin-top: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
